.introText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
};

.underline {
  text-align: center;
  position: relative;
  width: 35%;
  height: 3px;
  background-color: silver;
}

.introCenter {
  margin: 40px;
}

.introMiddle {
  text-align: center;
  h1 {
      font-size: 5.5rem;
      margin-top: 265;
  }
  h4 {
      margin-top: 30;
  }
}
