.introText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
};

.underline {
  // position: center;
  // width: 35%;
  // height: 3px;
  // background-color: silver;
  // animation-name: example;
  // animation-fill-mode: backwards;
  // animation-duration: .6s;
  // animation-delay: .7s;
}

.introCenter {
  margin: 40px;
}

.introMiddle {
  text-align: center;
  position: relative;
  top: 100px;
  h1 {
      font-size: 5.5rem;
      margin-top: 265;
  }
  h4 {
      margin-top: 30;
  }
}
