.cardSize {
  width: 20%;
  height: auto;
  border: 2px;
}

.imgSize {
  width: 8rem;
}

.techImg {
  margin: 2px;
}

h4 {
  font-weight: bold;
  color: goldenrod;
}

#technologiesDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url(../../../assets/unsplashWaves.jpg);
  background-size: cover;
  background-position: cover;
}
