.cardSize {
  min-width: 20%;
  height: 20%;
  border: 2px;
}

.imgSize {
  width: 7rem;
}

.techImg {
  margin: 2px;
}

h4 {
  font-weight: bold;
  color: goldenrod;
}

#technologiesDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url('https://images.unsplash.com/photo-1446399816436-e188f1e83cfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: cover;
}
