.bioBackground {
  background-color: white;
  box-shadow: 5px 10px #888888;
  border-radius: 5%;

}

.bioBox {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

#bioImg {
  width: 350px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

/* old bioImage
border-radius: 50%;
width: 200px;
height: 275px;
margin-bottom: 20px; */

.bioHi {
  color: white;
}